.featuresSection{
    padding:80px;
    text-align: center;
}
.featuresSection h2{
    font-size: 2rem;
    margin-bottom:20px;
}
.featuresSection p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom:60px;
}
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
}