.card{
    background-color: white;
    padding: 20px 24px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}
.card svg{
    font-size: 2.5rem;
    color:#4f46e5;
    margin-bottom: 20px;
}
.card h3{
    margin-bottom: 15px;
    font-size: 1.4rem;
}
.card p{
    color:#666;
    line-height: 1.6;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}